/****************************
GENERAL
****************************/

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: light;
    color: #ef429e;
    background: #fff24a;
    text-align: center;
}
/* yellow h1 color */
h1 {
    color: #fff24a;
    font-weight: bold;
}
/* pink h4 color */
h4 {
    color: #ef429e;
    font-weight: bold;
}
/* adds space between lines in paragraphs */
 p {
    line-height: 25px;
 }


/****************************
HEADER
****************************/

.background-image  {
    width: 1000px;
    height: 350px;
    background-image: url('../images/unicorn-cat.jpg');
    margin-left: 20%; /* center aligns header */
    background-repeat: no-repeat;
}

#main-head {
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
}


/* main nav */

nav {
    display: block;
    text-align: center;
    height: 5%;
    margin-right: 35%;

}

nav li {
    list-style: none;
    display: inline-block;
    padding: 2%;

}

nav ul {
    margin-right: 8%;
}

nav a {
    color: #fff24a;
    border: 2px solid #ef429e;
    font-weight: bold;
    font-size: 16px;
}

/* links */

a {
    text-decoration: none;
}


nav a.selected, nav a:hover {
  color: #82afff;
  border: 2px solid #cb77dd;
}


/****************************
BODY
****************************/
#company-info {
    padding: 0 2%;
}


/****************************
FOOTER
****************************/

#footer {
    height: 5%;
    margin-bottom: 0;
    text-align: center;
}

#footer-ul {
    display: inline-block;
}

.footer-li {
    display: inline-block;
    list-style-type: none;
}

.footer-image {
   height: 30px;
   padding: 0 50px;
}

#copyrightText {
    color: #82afff;
    text-align: center;
    font-size: 2em;
}