   div#missionhead {
    clear: both;
    text-align: center;
    color: white;
    height: 300px;
	background-image: url("../images/glitter-banner.png");
    backgrounds-blend-mode: screen;
    background-repeat: no-repeat;
    width: 100%;
	}

	h1, h4 {
	text-shadow: black 0.1em 0.1em 0.2em
	}

	h2, h5 {
		text-align: center;
		padding-top: 15px;
	}

	img{
		display: block;
		margin: 0 auto;
		height: 600px;
	}

	article#company-info {
		width: 70%
		margin: 0 auto;
		padding: 0 10%;
	}