

	/*

	h2, h5 {
		text-align: center;
		padding-top: 15px;
	}

	img{
		display: block;
		margin: 0 auto;
		height: 600px;
	}

	article#company-info {
		width: 70%
		margin: 0 auto;
		padding: 0 10%;
	}*/